{% extends "base.html" %}

{% block title %}
Hackerati Boggle
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--
            <a class="navbar-brand" href="#">Hackerati Boggle</a>
            -->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            -->
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Hackerati Boggle!</h1>
        <p class="lead">Play the Hackerati Boggle Game!</p>
            {% if game_board %}
                <table>
                {% for row in game_board.board %}
                    <tr>
                        {% for column in row %}
                            <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            {% endif %}

            <br>
            <a onClick="newGameBoard();" class="btn btn-info">New Board</a>
    </div>


</div>



{% endblock %}
